.nav-menu {
    width: 30%;
    margin: 0 auto;
    border: black;
    background: rgba(0,0,0,0.6);
    font-weight: bold;
    font-size: 15px;
}
.navbar-default .navbar-nav > li > a {
    color: white;
}
Button {
    width: 100%;
}
div.container {
    width: 90%;
}




