div form input[type= 'text'] {
    display: block;
    margin: 0 auto;
    width: 30%;
    border-radius: 5px;
}
div form input[type= 'submit']{
    display: block;
    margin: 0 auto;
}
body {
    background: #484a74;
}